In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns
%matplotlib inline

In [6]:
df=pd.read_csv('datasSet\HAM10000_metadata.csv')

In [4]:
df.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [5]:
from PIL import Image

In [6]:
import os
from PIL import Image

pixel = []
count = 0
for i in df['image_id']:
    count += 1
    path = os.path.join("datasSet", "HAM10000_images_part_1", f"{i}.jpg")
    #print(path)
    img = np.asarray(Image.open(path).resize((32, 32)))
    img=img.astype(int).reshape(-1)
    pixel.append(img)
    if count%1000==0:
        print(count)

# df1=pd.DataFrame(pixel)
# df1.columns = [f'pix{i}' for i in range(1, df1.shape[1]+1)]

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000

In [7]:
import csv

csv_file = "pixel_data_32_32.csv"
with open(csv_file, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(pixel)

In [12]:
df=pd.read_csv('pixel_data_32_32.csv',header=None)

In [13]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
0,191,152,192,194,154,193,196,152,184,199,...,136,176,131,146,184,149,169,184,153,176
1,24,14,29,56,39,64,106,80,112,143,...,69,43,26,43,25,14,28,25,14,27
2,190,136,150,199,145,161,200,141,160,205,...,143,165,129,144,155,121,138,134,102,114
3,35,18,28,83,51,64,128,88,103,161,...,56,34,18,26,25,12,16,25,12,15
4,155,110,135,188,139,168,210,157,184,220,...,196,200,158,175,160,124,137,103,73,87

In [14]:
df.columns = [f'pix{i}' for i in range(1, df.shape[1]+1)]

In [19]:
df.head(5)
df.to_csv('pixel_data_32_32_final.csv',index=False)

In [ ]:
# import os
# from PIL import Image

# pixel = []
# count = 0
# for i in df['image_id']:
#     count += 1
#     path = os.path.join("datasSet", "HAM10000_images_part_1", f"{i}.jpg")
#     #print(path)
#     img = np.asarray(Image.open(path).resize((228, 228)))
#     img=img.astype(int).reshape(-1)
#     df2 = pd.DataFrame([img], columns=[f'pix{j}' for j in range(1, len(img)+1)])
#     df1.append(df2)
#     if count%1000==0:
#         print(count)

In [1]:
import pandas as pd
df=pd.read_csv('dataset/pixel_data_8_8.csv')

In [2]:
df1=pd.read_csv("dataset/hmnist_28_28_RGB.csv")

In [4]:
df1['label']

0        2
1        2
2        2
3        2
4        2
        ..
10010    0
10011    0
10012    0
10013    0
10014    6
Name: label, Length: 10015, dtype: int64

In [5]:
df['label']=df1['label']

In [7]:
df['label']

0        2
1        2
2        2
3        2
4        2
        ..
10009    0
10010    0
10011    0
10012    0
10013    0
Name: label, Length: 10014, dtype: int64

In [ ]:
from keras.preprocessing.image import ImageDataGenerator
datagen = ImageDataGenerator(rescale=(1./255)
                             ,rotation_range=10
                             ,zoom_range = 0.1
                             ,width_shift_range=0.1
                             ,height_shift_range=0.1)

testgen = ImageDataGenerator(rescale=(1./255))



history = model.fit(
    datagen.flow(X_train, y_train, batch_size=batch_size),
    steps_per_epoch=len(X_train) ,
    validation_data=(X_test, y_test),
    epochs=epochs,
    verbose=1,
)